<html>
  <head>
  <title>{{ username }}' Music</title>
  </head>
<body>
  <h1>Musica de {{ username }}</h1>

  <p>Artists:</p>
  > {{artists}}
  <p>Albums:</p>
  > {{albums}}
  <p>Tracks:</p>
  > {{tracks}}

  <!--
  {% if MusicProject.MusicApp %}
  <ul>
  {% for Track in MusicProjects.MusicApp %}
  <li>
  {{MusicProject.MusicApp.track.nomtrack}} - {{ MusicProject.MusicApp.track.url}} - {{MusicProject.MusicApp.track.duration}} - {{MusicProject.MusicApp.track.playcount}} - {{MusicProject.MusicApp.track.published}} - {{MusicProject.MusicApp.track.summary}}
  </li>
  {% endfor %}
  </ul>
  {% else %}
  <p>No te musica.</p>
  {% endif %}

  -->
</body>
</html>
