{% extends "musicapp/base.html" %}

{% block content %}

<h1>
    {{ artist.name }}
    {% if user == artist.user %}
        (<a href="{% url 'musicapp:artist_edit' artist.library.id artist.id %}">edit</a>)
    {% endif %}
</h1>
<p>tags: {{ artist.tags }}</p>
{% if artist.image %}
    <p><img src="{{ artist.image.url }}"/></p>
{% endif %}
<p>Webpage: {{ artist.web }}</p>
<p>Similar artists:{{ artist.similars }}</p>
<p>Summary: {{ artist.summary }}</p>
{% endblock %}

{% block footer %}
    Created by {{ artist.user }} on {{ artist.date }}
{% endblock %}
